.div41{
    text-align: center;
    margin: 0 auto;
    
    
}

.img7{
    width: 40%;
    display: block;
    
    margin: 0 auto;
}
h3{
    color: brown;
   font-size: small;
   display: none;
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}